<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Productos.css" rel="stylesheet"/>
    <link href="~/css/Index.css" rel="stylesheet"/>
</head>
<body>
    <br />
    <div class="container" >
        <h1>OTROS</h1>
    </div>
    <div class="container">
        <div class="product">
            <img src="css/sti.jpg" alt="Producto 1">
            <h2 class="product-title">PRODUCTO 1</h2>
            <p class="product-price">$19.99</p>
            <p class="product-description">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>

        <div class="product">
            <img src="css/sto.jpg" alt="Producto 2">
            <h2 class="product-title">PRODUCTO 2</h2>
            <p class="product-price">$29.99</p>
            <p class="product-description">Descripción del producto 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>

        <div class="product">
            <img src="css/hellcat.jpg" alt="Producto 3">
            <h2 class="product-title">PRODUCTO 3</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="css/hellcat.jpg" alt="Producto 3">
            <h2 class="product-title">PRODUCTO 3</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="css/hellcat.jpg" alt="Producto 3">
            <h2 class="product-title">PRODUCTO 3</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="css/hellcat.jpg" alt="Producto 3">
            <h2 class="product-title">PRODUCTO 3</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="css/hellcat.jpg" alt="Producto 3">
            <h2 class="product-title">PRODUCTO 3</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="css/hellcat.jpg" alt="Producto 3">
            <h2 class="product-title">PRODUCTO 3</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="css/hellcat.jpg" alt="Producto 3">
            <h2 class="product-title">PRODUCTO 3</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>

        </div>
        <!-- Agrega más productos según sea necesario -->
    </div>
</body>
</html>

</html>