<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Productos.css" rel="stylesheet"/>
    <link href="~/css/Index.css" rel="stylesheet"/>
</head>
<body>
    <br />
    <div class="container" >
        <h1>PRODUCTOS ESCOLARES</h1>
    </div>
    <div class="container">
        <div class="product">
            <img src="~/Images/Abaco.jpg" alt="Abaco">
            <h2 class="product-title">Abaco</h2>
            <p class="product-price">$19.99</p>
            <p class="product-description">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>

        <div class="product">
            <img src="~/Images/acuarela.jpg" alt="Acuarela">
            <h2 class="product-title">Acuarela</h2>
            <p class="product-price">$29.99</p>
            <p class="product-description">Descripción del producto 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>

        <div class="product">
            <img src="~/Images/Clips.jpg" alt="Clips">
            <h2 class="product-title">Clips</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/colores.jpg" alt="Colores">
            <h2 class="product-title">Colores</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/corrector.jpg" alt="Corrector liquido">
            <h2 class="product-title">Corrector liquido</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/corrector2.jpg" alt="Corrector de cinta">
            <h2 class="product-title">Corrector de cinta</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/cuaderno.jpg" alt="Cuaderno">
            <h2 class="product-title">Cuaderno</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/goma.jpg" alt="Goma">
            <h2 class="product-title">Goma</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/lapices.jpg" alt="Lapiz">
            <h2 class="product-title">Lapiz</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>

        </div>
        <div class="product">
            <img src="~/Images/pegamento.jpg" alt="Pegamento">
            <h2 class="product-title">Pegamento</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/plumas.jpg" alt="Pluma">
            <h2 class="product-title">Pluma</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/regla.jpg" alt="Regla">
            <h2 class="product-title">Regla</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/sacapuntas.jpg" alt="Sacapuntas">
            <h2 class="product-title">Sacapuntas</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/Tijeras.jpg" alt="Tijeras">
            <h2 class="product-title">Tijeras</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <!-- Agrega más productos según sea necesario -->
    </div>
</body>
</html>

