<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Productos.css" rel="stylesheet"/>
    <link href="~/css/Index.css" rel="stylesheet"/>
</head>
<body>
    <br />
    <div class="container" >
        <h1>PRODUCTOS DE FIESTA</h1>
    </div>
    <div class="container" >
       <div class="product">
            <img src="~/Images/Bolsas.jpg" alt="Bolsas">
            <h2 class="product-title">Bolsas</h2>
            <p class="product-price">$19.99</p>
            <p class="product-description">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>

        <div class="product">
            <img src="~/Images/confeti.jpg" alt="confeti">
            <h2 class="product-title">Confeti</h2>
            <p class="product-price">$29.99</p>
            <p class="product-description">Descripción del producto 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>

        <div class="product">
            <img src="~/Images/fomi.jpg" alt="Fomi">
            <h2 class="product-title">Fomi</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/globosfiesta.jpg" alt="Gorros">
            <h2 class="product-title">Gorros Fiesta</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/Glovbos.jpg" alt="Globos">
            <h2 class="product-title">Globos</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/pelotas.jpg" alt="Pelotas">
            <h2 class="product-title">Pelotas</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/serpentina.jpg" alt="Serpentina">
            <h2 class="product-title">Serpentina</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/tarjetas.jpg" alt="tarjetas">
            <h2 class="product-title">Tarjetas</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <!-- Agrega más productos según sea necesario -->
    </div>
</body>
</html>