<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Productos.css" rel="stylesheet"/>
    <link href="~/css/Index.css" rel="stylesheet"/>
</head>
<body>
    <br />
    <div class="container" >
        <h1>PRODUCTOS DE OFICINA</h1>
    </div>
    <div class="container">
        <div class="product">
            <img src="~/Images/Calculadora.jpg" alt="calculadora">
            <h2 class="product-title">calculadora</h2>
            <p class="product-price">$19.99</p>
            <p class="product-description">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>

        <div class="product">
            <img src="~/Images/Carpeta.jpg" alt="carpeta">
            <h2 class="product-title">Carpeta</h2>
            <p class="product-price">$29.99</p>
            <p class="product-description">Descripción del producto 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>

        <div class="product">
            <img src="~/Images/cinta.jpg" alt="Cinta">
            <h2 class="product-title">Cinta</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/Engrapadora.jpg" alt="Engrapadoras">
            <h2 class="product-title">Engrapadores</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/etiquetas.jpg" alt="Etiquetas">
            <h2 class="product-title">Etiquetas</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/folder.jpg" alt="Folder">
            <h2 class="product-title">Folder</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/lapicero.jpg" alt="Lapicero">
            <h2 class="product-title">Lapicero</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/Marcador.jpg" alt="Marcador">
            <h2 class="product-title">Marcador</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>
        </div>
        <div class="product">
            <img src="~/Images/post it.jpg" alt="Post-it">
            <h2 class="product-title">Post-It</h2>
            <p class="product-price">$39.99</p>
            <p class="product-description">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="add-to-cart-btn" href="#">Agregar al carrito</a>

        </div>
        <!-- Agrega más productos según sea necesario -->
    </div>
</body>
</html>

